<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Team Lead with experience in full-stack development including AWS, Terraform, React, GoLang, Node.js, SQL, HTML, JavaScript, and CSS. Experience ranges from small, single-page sites to large, load-balanced, multi-tenant applications. Passionate about user success and mentoring teammates.
		</div>
		<br>
	</div>
</div>
